version: "3"
services:
  db:
    image: postgres:15.4
    restart: always
    command: ["-c", "shared_buffers=256MB", "-c", "max_connections=100"]
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: xxx
      POSTGRES_PASSWORD: xxx-
      POSTGRES_DB: xxx
    ports:
      - "5432:5432"
  web:
    image: registry-vpc.cn-chengdu.aliyuncs.com/member-memo/project
    restart: always
    command: >
      bash -c "
      bundle exec rails assets:precompile
      && bundle exec rails db:create
      && bundle exec rails db:migrate
      && bundle exec rails db:seed
      && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      RAILS_ENV: production
      POSTGRESQL_HOST: "db"
      POSTGRESQL_USERNAME: xxx
      POSTGRESQL_PASSWORD: xxx-
      POSTGRESQL_DATABASE_PRD: xxx
      RAILS_SERVE_STATIC_FILES: "true"

    volumes:
      - ./log:/myapp/log

    ports:
      - "3000:3000"
    depends_on:
      - db
volumes:
  pgdata:
    external: true
    name: member-memo-db
