version: "3"
services:
  db:
    image: postgres:15.4
    restart: always
    command: ["-c", "shared_buffers=256MB", "-c", "max_connections=100"]
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: member_memo
    ports:
      - "5432:5432"
  redis:
    image: redis:7.2.1
    restart: always
    command: redis-server
    volumes:
      - cache:/data
    ports:
      - "6379:6379"
  web:
    image: registry-vpc.cn-chengdu.aliyuncs.com/member-memo/project:20230908
    restart: always
    command: >
      bash -c "
      bundle exec rails assets:precompile
      && bundle exec rails db:create
      && bundle exec rails db:migrate
      && bundle exec rails db:seed
      && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      RAILS_ENV: production
      POSTGRESQL_HOST: "db"
      POSTGRESQL_USERNAME: username
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE_PRD: member_memo
      RAILS_SERVE_STATIC_FILES: "true"
      REDIS_URL: "redis://redis:6379/0"

    volumes:
      - ./log:/myapp/log

    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
volumes:
  cache:
    external: true
    name: member-memo-redis-db
  pgdata:
    external: true
    name: member-memo-db
