# database
POSTGRESQL_HOST: '127.0.0.1'
POSTGRESQL_USERNAME: sss
POSTGRESQL_PASSWORD: '1234'
POSTGRESQL_DATABASE_DEV: member_memo_dev
POSTGRESQL_DATABASE_TEST: member_memo_test
POSTGRESQL_DATABASE_PRD: member_memo_prd
