@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-[#5995fd] text-white font-semibold rounded-full px-[10px] h-[47px] text-base flex justify-center items-center;
  }

  .sign-bg {
    @apply relative before:absolute overflow-hidden before:w-[100vh] lg:before:w-[150vw] before:h-[100vh] lg:before:h-[170vw] before:top-0 before:left-[calc((100vw-100vh)/2)] before:top-[-50vh] lg:before:left-[-90vw] lg:before:top-[-76vw] before:bg-[#4481eb] before:duration-1000 before:ease-in-out before:rounded-full before:z-[-1];
  }
  .h1 {
    @apply text-[30px] lg:text-[46px] leading-[38px] lg:leading-[64px];
  }
  .p {
    @apply text-[14px] lg:text-base leading-[24px] lg:leading-[26px];
  }
  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  .page-link {
    @apply w-[38px] h-[38px] inline-block rounded-full mx-[8px] flex justify-center items-center cursor-pointer hover:border-primary-599 hover:border-[2px];
  }

  .pagination-action {
    @apply inline-block w-[10px] h-[10px] border-t-[2px] border-l-[2px] border-primary-599;
  }

  .bg-gradient-blue {
    @apply bg-gradient-to-r from-[#011726] to-[#045289] text-white relative overflow-hidden font-thin;
  }

  .bg-gradient-red {
    @apply bg-red-F14 text-white relative overflow-hidden before:bg-gradient-to-t before:from-[#C10E1A] before:to-[#F1404C4D] before:w-[500px] before:h-[500px] before:top-[-320px] before:left-[-40px] after:w-[300px] after:h-[300px] after:bg-gradient-to-r after:from-[#C10E1A] after:to-[#F1404C4D] after:top-[80px] after:right-[-70px];
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-primary-599 to-green-47C text-white relative overflow-hidden before:blur-2xl before:bg-[#FFBA01] before:w-[200px] before:h-[200px] before:top-[100px] before:left-[320px];
  }

  .bg-gradient-dark {
    @apply bg-gradient-to-r from-black-303 to-black-191 text-orange-f9c relative overflow-hidden before:bg-[#00000099] after:bg-[#00000099] before:w-[400px] before:h-[400px] before:top-[67px] before:left-[70px] after:w-[400px] after:h-[400px] after:top-[-260px] after:left-[-160px];
  }

  .member-card {
    @apply cursor-pointer rounded-[12px] p-[20px] border shadow-2xl w-full lg:min-w-[380px] lg:max-w-[430px] h-[210px] z-[10] before:absolute before:rounded-full before:z-[-30] after:absolute after:rounded-full after:z-[-30];
  }
  .level {
    @apply border border-[white]/50 border-[0.5px] px-[10px] rounded-full text-[12px] flex items-center;
  }
  .discount {
    @apply level justify-between;
  }
  .store-name {
    @apply text-[32px] font-bold line-clamp line-clamp-1;
  }
  .setting-icon {
    @apply absolute right-[10px] top-[6px];
  }
  .common-input {
    @apply rounded-[6px] border-[#d9d9d9];
  }
  .selected-product {
    @apply border-primary-599 shadow relative after:absolute after:border-[30px] after:border-r-primary-599 after:border-t-primary-599 after:border-l-transparent after:border-b-transparent after:rounded-tr-[8px] after:top-0 after:right-0 before:w-[20px] before:h-[10px] before:border-[2px] before:border-r-white before:border-t-white before:border-l-transparent before:border-b-transparent before:top-[8px] before:right-[6px] before:absolute before:z-[30] before:rotate-[135deg];
  }
}
