body {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 700;
}

.ant-input-suffix .ant-form-item-feedback-icon {
  display: flex;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
  width: 10px;
  height: 10px;
}

.ant-float-btn-icon {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.ant-picker .ant-picker-input > input {
  font-size: 16px;
}
.hidden-radio .ant-radio {
  display: none !important;
}
.rounded-none {
  border-radius: 0px !important;
}

.custom-timeline.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  width: unset;
}
